{% extends "layout.html" %}
{% block title %}Admin{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Administer Invitations</h1>
</div>

<div class="jumbotron container">
    <div class="row">
        <div class="col-sm-6"><h2>Attending Champaign</h2></div>
        <div class="col-sm-6"><h2>{{total_cu}}</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><h2>Attending St. Louis</h2></div>
        <div class="col-sm-6"><h2>{{total_stl}}</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><h2><strong>Total</strong></h2></div>
        <div class="col-sm-6"><h2><strong>{{total_attendees}}</strong></h2></div>
    </div>
</div>

<form role="form" action="{{ url_for('admin_action') }}" method="post">
    <h2>Confirmed</h2>
    <ul class="list-group">
    {% for invite in confirmed %}
        <li class="list-group-item">
        <input type="checkbox" name="guid" value="{{invite.guid}}"/>
            <a href="{{ url_for('invite', guid=invite.guid) }}">{{ invite.name }}</a>
            [ <small><a href="mailto:{{ invite.email }}">{{ invite.email }}</a> ]</small>

            <span class="label label-{{ 'success' if invite.attend_cu else 'danger'}}">Champaign</span>
            <span class="label label-{{ 'success' if invite.attend_stl else 'danger'}}">STL</span>
        </li>
    {% endfor %}

    <h2>Unconfirmed</h2>
    {% for invite in unconfirmed %}
        <li class="list-group-item">
            <input type="checkbox" name="guid" value="{{invite.guid}}"/>
            <a href="{{ url_for('invite', guid=invite.guid) }}">{{ invite.name }}</a>
            [ <small><a href="mailto:{{ invite.email }}">{{ invite.email }}</a> ]</small>

            {% if invite.viewed %}
            <span class="label label-success">Viewed</span>
            {% else %}
            <span class="label label-danger">Not Viewed</span>
            {% endif %}
            <span class="label label-warning">Not Confirmed</span>
        </li>
    {% endfor %}
    </ul>
    <div class="form-group">
        <button name="email" type="submit" class="btn btn-default">Send Email</button>
    </div>
</form>

{% endblock %}
