{% extends "layout.html" %}

{% block title %}Admin{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Administer Invitations</h1>
</div>

<div class="jumbotron container">
    <div class="row">
        <div class="col-sm-6"><h2>Attending Champaign</h2></div>
        <div class="col-sm-6"><h2>{{total_cu}}</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><h2>Attending St. Louis</h2></div>
        <div class="col-sm-6"><h2>{{total_stl}}</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><h2><strong>Total</strong></h2></div>
        <div class="col-sm-6"><h2><strong>{{total_attendees}}</strong></h2></div>
    </div>
</div>

<a name="controls"></a>
<div class="btn-group">
    <button type="button" id="control-all" class="btn btn-default"><span class="glyphicon glyphicon-check"></span></button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a id="control-all-confirmed" href="#controls">Confirmed</a></li>
        <li><a id="control-all-unconfirmed" href="#controls">Unconfirmed</a></li>
        <li><a id="control-none" href="#controls">None</a></li>
    </ul>
</div>

<form id="invites" role="form" action="{{ url_for('admin_action') }}" method="post">
    <h2>Confirmed</h2>
    <ul class="list-group" id="confirmed">
    {% for invite in confirmed %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-8">
                    <input type="checkbox" name="guid" value="{{invite.guid}}"/>
                    <a href="{{ url_for('invite', guid=invite.guid) }}">{{ invite.name }}</a>
                    [ <small><a href="mailto:{{ invite.email }}">{{ invite.email }}</a> ]</small>
                </div>
                <div class="col-sm-4 text-right">
                    <span class="label label-info">{{ invite.attendees }}</span>
                    <span class="label label-{{ 'success' if invite.attend_cu else 'danger'}}">Champaign</span>
                    <span class="label label-{{ 'success' if invite.attend_stl else 'danger'}}">STL</span>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>

    <h2>Unconfirmed</h2>
    <ul class="list-group" id="unconfirmed">
    {% for invite in unconfirmed %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-8">
                    <input type="checkbox" name="guid" value="{{invite.guid}}"/>
                    <a href="{{ url_for('invite', guid=invite.guid) }}">{{ invite.name }}</a>
                    [ <small><a href="mailto:{{ invite.email }}">{{ invite.email }}</a></small> ]
                </div>

                <div class="col-sm-4 text-right">
                    {% if invite.viewed %}
                    <span class="label label-success">Viewed</span>
                    {% else %}
                    <span class="label label-danger">Not Viewed</span>
                    {% endif %}
                    <span class="label label-warning">Not Confirmed</span>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div class="form-group">
        <button name="email" type="submit" class="btn btn-default">Send Email</button>
        <button name="create" type="submit" class="btn btn-default">Create</button>
        <button name="delete" type="submit" class="btn btn-default">Delete</button>
        <button name="import" type="submit" class="btn btn-default">Import</button>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script>
/* Select All */

function makeSelector(id, checked) {
    return function() {
        $(id).prop('checked', checked);
    };
}

$('#control-all').click(makeSelector("#invites input:checkbox", true));
$('#control-all-confirmed').click(makeSelector('#confirmed input:checkbox', true));
$('#control-all-unconfirmed').click(makeSelector('#unconfirmed input:checkbox', true));
$('#control-none').click(makeSelector("#invites input:checkbox", false));

</script>
{% endblock %}
