{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<h1 class="text-center">Eileen's First Birthday!</h1>

<div class="lead text-center">
    Please join us for Eileen's First Birthday party! We will have two parties: one in Champaign and one in St. Louis. Everybody is welcome to come to both.
</div>

<div class="container text-center">
    <h1>General Info</h1>
    <ul>
        <li>Presents are not required</li>
        <li>The Champaign party will be at Scott and Lindsay's house</li>
        <li>The St. Louis party will be at Scott's parents' house</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-6">
        <h1>Champaign <small class="date">Saturday, April 12</small></h1>
        <a href="http://yhoo.it/1eoVaj8" class="btn btn-info btn-lg">Get Directions</a>
    </div>
    <div class="col-md-6">
        <h1>St. Louis <small class="date">Saturday, April 19</small></h1>
        <a href="http://yhoo.it/1eoV3V0" class="btn btn-info btn-lg">Get Directions</a>
    </div>
</div>


<!--
<iframe src="https://www.flickr.com/photos/groovy5769/8675992653/player/b65dc5520f" height="375" width="500"  frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
-->

{% endblock %}
