{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>Eileen's First Birthday!</h1>
</div>

<p>Please join us for Eileen's first birthday party!</p>

<h1>General Info</h1>
<ul>
    <li>We are not asking anyone to bring presents, although we won't throw them away if you do</li>
</ul>

<h1>Dates</h1>
<ul class="list-group">
    <li class="list-group-item"><h2>Champaign <small>April 12, 2014</small></h2></li>
    <li class="list-group-item"><h2>St. Louis <small>April 19, 2014</small></h2></li>
</ul>

{% endblock %}
