{% extends "layout.html" %}
{% block title %}RSVP{% endblock %}

{% block content %}

{% if invitation %}

<div class="jumbotron">
    <h1>Hello, {{ invitation.name }}!</h1>
    <p>
        You are invited to Eileen's first birthday party! We are having two parties: one in Champaign on April 12, 2014 and one in St. Louis on April 19, 2014. Both parties are from 2-4 PM. You are welcome to come to whichever party is most convenient for you, although the one in Champaign will have mostly friends and co-workers, while the one in St. Louis will have more family.
    </p>
    <p>
        <a href="{{ url_for('index', guid=invitation.guid) }}">Click here for more information</a>
    </p>

    <div class="alert alert-info">Please RSVP by April 1!</div>
</div>

<form role="form" action="{{ url_for('confirm') }}" method="post">
    <input type="hidden" name="guid" value="{{ invitation.guid }}"/>
    <div class="form-group">
        <label for="cu">Will you be coming to the party in Champaign on April 12, 2014?</label>
        <select name="cu" class="form-control">
            <option value="no">No</option>
            <option value="yes" {% if invitation.attend_cu %}selected{% endif %}>Yes</option>
        </select>
    </div>

    <div class="form-group">
        <label for="stl">Will you be coming to the party in St. Louis on April 19, 2014?</label>
        <select name="stl" class="form-control">
            <option value="no">No</option>
            <option value="yes" {% if invitation.attend_stl %}selected{% endif %}>Yes</option>
        </select>
    </div>

    <div class="form-group">
        <label for="attendees">Number of attendees</label>
        <select name="attendees" class="form-control">
            {% for idx in range(1, invitation.attendees) %}
            <option value="{{idx}}">{{idx}}</option>
            {% endfor %}
            {% for idx in range(invitation.attendees, 11) %}
            <option value="{{idx}}" {% if loop.first %}selected{% endif %}>{{idx}}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-default">Confirm</button>
</form>

{% else %}
<div class="jumbotron">
<h1>Oops!</h1>
<p>
Sorry, we couldn't find your invitation.  If you believe this is in error, please contact Scott or Lindsay.  If you don't know how to contact us, then contact someone who knows us.  If you can't even do that, then who the hell are you?
</p>
</div>
{% endif %}

{% endblock %}
